.icon1{
    margin: 10px;
    padding: 5px;
    font-size:xx-large;
    color: rgb(84, 84, 173);
    background-color: rgb(210, 139, 139);
}

.icon2{
    margin: 10px;
    padding: 5px;
    font-size:xx-large;
    color: blue;
    background-color: brown;
}